<p>Hi <%= @name %>,</p>

<p>We've reviewed your application for FounderDigest and are excited to extend you an invitation to join.</p>

<p>
    Get started <a href="<%= ENV['BASE_URL'] + '/magic_login?auth_code=' + @auth_code %>">here</a>. 
    
    Your temporary password is <%= @temp_password %> - change it on your Account page.
</p>

<p>Founder Digest Team</p>